.container {
  display: grid;
  /* 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px); 
  */
  grid-template: repeat(2, 50px) / repeat(3, 1fr);

  /* 
  rows / columns 
  Draw the L -- down and then across..
  */

  grid-gap: 3px;
}
